In [27]:
import geopandas as gpd
import geodatasets as gds
#guardar

# Lectura de archivos en geopandas

Geopandas permite la lecuta y analisis de archivos geograficos, tales como lo pueden ser los shapefiles, archivos de forma y geojson

La lectura la puede hacer desde un url

In [28]:
url = "http://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_110m_land.geojson"
df = gpd.read_file(url)
df

     scalerank featureclass                                           geometry
0            1      Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1            1      Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2            1      Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3            1      Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4            1      Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...
..         ...          ...                                                ...
122          1      Country  POLYGON ((51.13619 80.54728, 49.79368 80.41543...
123          1      Country  POLYGON ((99.93976 78.88094, 97.75794 78.75620...
124          1      Country  POLYGON ((-87.02000 79.66000, -85.81435 79.336...
125          1      Country  POLYGON ((-68.50000 83.10632, -65.82735 83.028...
126          1      Country  POLYGON ((-27.10046 83.51966, -20.84539 82.726...

[127 rows x 3 columns]

In [29]:
#df.drop(columns=['featureclass'], inplace=True)
df

     scalerank featureclass                                           geometry
0            1      Country  POLYGON ((-59.57209 -80.04018, -59.86585 -80.5...
1            1      Country  POLYGON ((-159.20818 -79.49706, -161.12760 -79...
2            1      Country  POLYGON ((-45.15476 -78.04707, -43.92083 -78.4...
3            1      Country  POLYGON ((-121.21151 -73.50099, -119.91885 -73...
4            1      Country  POLYGON ((-125.55957 -73.48135, -124.03188 -73...
..         ...          ...                                                ...
122          1      Country  POLYGON ((51.13619 80.54728, 49.79368 80.41543...
123          1      Country  POLYGON ((99.93976 78.88094, 97.75794 78.75620...
124          1      Country  POLYGON ((-87.02000 79.66000, -85.81435 79.336...
125          1      Country  POLYGON ((-68.50000 83.10632, -65.82735 83.028...
126          1      Country  POLYGON ((-27.10046 83.51966, -20.84539 82.726...

[127 rows x 3 columns]

A diferencia de otros metodos en python, para leer archivos en geopandas debemos de usar el path del archivo. Para eso utilizamos la biblioteca os

In [30]:
import os

In [31]:

# Ruta actual
ruta_actual = os.getcwd()  # Obtiene la ruta actual donde estás trabajando

# Ruta al archivo buscado en otra carpeta
ruta_archivo_buscado = os.path.join(ruta_actual, '794551067260_s', 'conjunto_de_datos' , 'a1206_ii.shp')

gdf = gpd.read_file(ruta_archivo_buscado)

También permite la lectura de archivos comprimidos

In [32]:
ruta= "794551067260_s.zip"

ruta_absoluta_zip = os.path.abspath(ruta)
print(ruta_absoluta_zip)

df= gpd.read_file('zip://' + ruta_absoluta_zip + '!conjunto_de_datos/a1206_ii.shp') 
df

/root/Geo_Pandas/ejecutables/JupyterNotebooks/794551067260_s.zip

,DISP,TIPO,CAUSA_SALI,NOMBRE_ACU,CONDICION,FECHA_DOF,CAL_POS,geometry
0,Sin disponibilidad,Libre,N,Valle de Buenavista,Sobreexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((335927.937 2302674.250, 335916..."
1,Sin disponibilidad,Libre,N,Valle de Amazcala,Sobreexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((364982.425 2315036.300, 365032..."
2,Sin disponibilidad,Libre,N,Laguna Seca,Sobreexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((327388.001 2325553.805, 327570..."
3,Sin disponibilidad,Libre,N,Valle de Celaya,Sobreexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((333420.219 2302033.250, 333403..."
4,Sin disponibilidad,Libre,N,Cuenca Alta del Río Laja,Sobreexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((321071.325 2304446.830, 321071..."
5,Sin disponibilidad,Libre,N,San Miguel de Allende,Subexplotado,2020-09-17,Aproximada,"POLYGON ((340899.476 2316830.767, 341425.359 2..."
6,Con disponibilidad,Libre,N,Xichú-Atarjea,Subexplotado,2020-09-17,Aproximada,"MULTIPOLYGON (((370010.062 2319749.250, 369969..."
7,Sin disponibilidad,Libre,N,Dr. Mora-San José Iturbide,Sobreexplotado,2020-09-17,Aproximada,"POLYGON ((356198.153 2346667.389, 356270.812 2..."

Otra manera de leer archivos y no leer el path completo es usando la biblioteca auxiliar geodatasets. En este caso

In [33]:
import geodatasets as gds

#GeoData de la ciudad de Nueva York
#Long path 

gdf = gpd.read_file(
    gds.get_path("geoda.nyc"),
    rows=10,)

gdf

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2008,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,501,North Shore,501,North Shore,37.0657,34.0317,27.3767,29.3091,13.2540,11.8768,...,1000,21.1119,24.8073,28.5344,47.329128,6.005791,10.805068,12.127853,11.547433,"POLYGON ((962498.866 175588.946, 962914.980 17..."
1,502,Mid-Island,502,Mid-Island,27.9822,18.1193,24.0452,31.1566,20.0616,19.8575,...,950,32.3615,27.2584,27.9567,35.182323,2.287034,15.241246,15.183111,14.682124,"MULTIPOLYGON (((928296.856 163214.206, 928736...."
2,503,South Shore,503,South Shore,10.7019,12.1404,9.6890,14.6638,10.3060,12.7699,...,800,23.0547,20.4146,18.1590,23.894043,1.350208,12.704250,12.972280,13.561487,"MULTIPOLYGON (((932416.259 149575.995, 933217...."
3,401,Astoria,401,Astoria,52.0961,53.9585,54.6968,47.8050,38.3658,35.6551,...,1400,25.6022,26.7685,28.0467,80.533928,5.204510,12.839167,13.377513,12.544640,"MULTIPOLYGON (((1010873.210 226064.189, 101087..."
4,402,Sunnyside / Woodside,402,Sunnyside/Woodside,62.7242,69.3969,67.0897,58.2963,37.0512,31.9057,...,1400,18.8079,22.6752,21.3009,75.516866,2.974139,15.387656,12.518789,12.666909,"POLYGON ((1011646.607 216285.604, 1011729.063 ..."
5,403,Jackson Heights,403,Jackson Heights,68.4834,68.5405,66.5080,69.1580,34.3999,38.2428,...,1100,34.0156,34.8050,27.1032,66.642281,5.332569,12.649229,12.580355,11.965980,"MULTIPOLYGON (((1014789.930 220797.982, 101462..."
6,404,Elmhurst / Corona,404,Elmhurst/Corona,69.5219,66.8795,69.3414,64.3005,40.3935,51.6376,...,1300,26.7381,34.3842,28.8255,77.530801,6.029230,11.554984,9.828084,10.738053,"MULTIPOLYGON (((1018353.243 205630.094, 101829..."
7,405,Middle Village / Ridgewood,405,Middle Village/Ridgewood,39.4185,35.9546,36.2750,35.0181,37.8097,34.0156,...,1100,41.2035,40.6256,36.2956,59.017019,3.951290,13.498408,12.616178,11.191645,"POLYGON ((1013477.142 206918.569, 1013729.105 ..."
8,406,Forest Hills / Rego Park,406,Rego Park/Forest Hills,58.5388,52.6183,42.3878,47.9795,43.7395,47.5873,...,1400,11.9766,10.4943,11.5520,64.162134,3.111417,13.401562,13.375477,12.742296,"POLYGON ((1026974.169 207617.321, 1027033.301 ..."
9,407,Flushing / Whitestone,407,Flushing/Whitestone,59.4432,53.4747,53.2531,57.9868,26.5802,25.6864,...,1200,23.9394,23.3487,22.6715,53.629649,2.795721,14.011260,12.806067,12.848001,"POLYGON ((1034250.672 230784.278, 1036136.389 ..."

In [34]:
#Otra prueba
gdf = gpd.read_file(
    gds.get_path("geoda.nyc"),
    include_fields=["name", "rent2008", "kids2000"],
)

gdf

,name,kids2000,rent2008,geometry
0,North Shore,39.2995,1000,"POLYGON ((962498.866 175588.946, 962914.980 17..."
1,Mid-Island,36.2234,950,"MULTIPOLYGON (((928296.856 163214.206, 928736...."
2,South Shore,39.7362,800,"MULTIPOLYGON (((932416.259 149575.995, 933217...."
3,Astoria,28.4592,1400,"MULTIPOLYGON (((1010873.210 226064.189, 101087..."
4,Sunnyside / Woodside,29.8808,1400,"POLYGON ((1011646.607 216285.604, 1011729.063 ..."
5,Jackson Heights,41.6335,1100,"MULTIPOLYGON (((1014789.930 220797.982, 101462..."
6,Elmhurst / Corona,41.8224,1300,"MULTIPOLYGON (((1018353.243 205630.094, 101829..."
7,Middle Village / Ridgewood,35.0385,1100,"POLYGON ((1013477.142 206918.569, 1013729.105 ..."
8,Forest Hills / Rego Park,21.9464,1400,"POLYGON ((1026974.169 207617.321, 1027033.301 ..."
9,Flushing / Whitestone,31.5298,1200,"POLYGON ((1034250.672 230784.278, 1036136.389 ..."
10,Hillcrest / Fresh Meadows,34.3515,1100,"POLYGON ((1048790.349 210768.908, 1048814.094 ..."
11,Kew Gardens / Woodhaven,43.1082,1150,"POLYGON ((1033028.373 199740.585, 1033194.229 ..."
12,Howard Beach / S. Ozone Park,41.6585,1200,"MULTIPOLYGON (((1023307.316 177012.162, 102391..."
13,Bayside / Little Neck,30.7215,1450,"POLYGON ((1060954.374 218276.433, 1061119.675 ..."
14,Jamaica,44.9491,1000,"POLYGON ((1051692.177 200660.009, 1052073.349 ..."
15,Bellerose / Rosedale,42.5305,1050,"POLYGON ((1065364.733 214688.232, 1066106.575 ..."
16,Rockaways,40.1280,1100,"MULTIPOLYGON (((1029603.084 156448.811, 102978..."
17,Greenwich Village / Financial District,11.3798,2900,"MULTIPOLYGON (((982628.718 189841.264, 982262...."
18,Lower East Side / Chinatown,22.1389,2300,"POLYGON ((991950.806 204281.926, 991998.487 20..."
19,Chelsea / Clinton / Midtown,8.3924,2500,"POLYGON ((988299.400 219284.240, 989077.841 21..."
20,Stuyvesant Town / Turtle Bay,8.3815,2800,"POLYGON ((994849.143 214432.574, 994694.942 21..."
21,Upper West Side,14.6295,2850,"POLYGON ((994905.353 230269.456, 995294.729 23..."
22,Upper East Side,13.3162,2550,"MULTIPOLYGON (((995418.855 213023.227, 995333...."
23,Morningside Heights / Hamilton Heights,30.9300,1900,"POLYGON ((999586.976 238550.035, 999418.274 23..."
24,Central Harlem,34.0025,1450,"POLYGON ((1002539.029 239335.041, 1002553.698 ..."
25,East Harlem,38.1172,1375,"MULTIPOLYGON (((1007819.862 228389.856, 100629..."
26,Washington Heights / Inwood,40.7504,0,"POLYGON ((1005739.589 258024.568, 1006185.089 ..."
27,Mott Haven / Hunts Point,50.6003,1200,"MULTIPOLYGON (((1012795.105 229290.737, 101240..."
28,Morrisania / East Tremont,50.6547,1000,"POLYGON ((1020005.363 259320.985, 1020088.378 ..."
29,Highbridge / S. Concourse,50.5058,950,"POLYGON ((1005690.805 247208.399, 1005663.298 ..."
30,University Heights / Fordham,55.3666,0,"POLYGON ((1011992.056 253553.918, 1012102.781 ..."
31,Kingsbridge Heights / Mosholu,47.3797,0,"POLYGON ((1018150.005 261140.020, 1018095.414 ..."
32,Riverdale / Kingsbridge,32.1480,1200,"POLYGON ((1012590.610 262080.162, 1012673.605 ..."
33,Soundview / Parkchester,45.5402,1000,"POLYGON ((1025641.432 246250.547, 1026029.486 ..."
34,Throgs Neck / Co-op City,29.3876,1300,"MULTIPOLYGON (((1042565.338 243858.136, 104251..."
35,Pelham Parkway,35.7203,1000,"POLYGON ((1026370.311 256707.967, 1026536.379 ..."
36,Williamsbridge / Baychester,42.1675,1100,"POLYGON ((1015099.309 270369.080, 1015760.287 ..."
37,Williamsburg / Greenpoint,35.0024,1350,"POLYGON ((998824.188 206727.921, 999134.494 20..."
38,Bushwick,53.6096,950,"POLYGON ((1003084.470 197309.620, 1003179.522 ..."
39,Bedford Stuyvesant,45.0378,1000,"POLYGON ((1000140.693 194722.958, 1000421.992 ..."
40,Brooklyn Heights / Fort Greene,24.7407,1300,"POLYGON ((991973.004 195489.546, 992600.365 19..."
41,Park Slope / Carroll Gardens,25.0841,1650,"MULTIPOLYGON (((990612.374 188380.719, 991007...."
42,North Crown Heights / Prospect Heights,38.2278,1350,"POLYGON ((1004003.806 188120.135, 1004050.889 ..."
43,Brownsville / Ocean Hill,51.6881,1000,"POLYGON ((1011053.493 186395.234, 1011825.492 ..."
44,East New York / Starret City,50.2566,1000,"POLYGON ((1021292.138 188378.614, 1021349.636 ..."
45,Flatlands / Canarsie,43.0152,1150,"MULTIPOLYGON (((1004133.046 152490.511, 100414..."
46,East Flatbush,45.0122,1000,"POLYGON ((1006276.443 179837.257, 1006473.661 ..."
47,South Crown Heights,42.1733,1000,"POLYGON ((1004303.562 180126.647, 1004811.489 ..."
48,Sunset Park,42.3996,1000,"POLYGON ((985668.998 182201.279, 985716.171 18..."
49,Bay Ridge,26.3044,1100,"POLYGON ((976810.724 172202.674, 977372.864 17..."
50,Borough Park,41.1304,1000,"POLYGON ((990394.130 175097.257, 990493.130 17..."
51,Flatbush,41.7739,1120,"POLYGON ((997185.767 171783.451, 997227.698 17..."
52,Sheepshead Bay / Gravesend,31.0049,1100,"POLYGON ((999877.249 161543.083, 999894.557 16..."
53,Bensonhurst,31.9359,1000,"POLYGON ((986341.968 166640.177, 987029.914 16..."
54,Coney Island,29.2787,1000,"POLYGON ((989048.721 151627.789, 989190.440 15..."

In [36]:
#Prueba 3

gdf2= gpd.read_file(
    gds.get_path("a1206_ii.shp"),
    rows=10)

ValueError: No matching item found for the query 'a1206_ii.shp'.

In [ ]:
filename = "09_Cdmx_CP.json"
file = open(filename)
df = gpd.read_file(file)

In [ ]:
gdf = gpd.read_file(
    gds.get_path("geoda.nyc"),
    where="subborough='Coney Island'",
)

gdf

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2008,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,213,Coney Island,213,Coney Island,39.9947,33.714,33.4522,35.7211,60.3644,59.6448,...,1000,11.5285,15.7978,16.3332,81.220779,9.121694,11.864032,11.5442,14.061286,"POLYGON ((989048.721 151627.789, 989190.440 15..."

In [ ]:
prueba = gdf.to_file("countries.shp")
prueba

In [ ]:

from shapely.geometry import Point

# Crear algunos datos de ejemplo
data = {
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Latitude': [40.7128, 34.0522, 41.8781],
    'Longitude': [-74.0060, -118.2437, -87.6298]
}

# Crear un GeoDataFrame a partir de los datos
geometry = [Point(xy) for xy in zip(data['Longitude'], data['Latitude'])]
gdf = gpd.GeoDataFrame(data, geometry=geometry)

# Guardar el GeoDataFrame como un archivo Shapefile
gdf.to_file('ejemplo_shapefile.shp', driver='ESRI Shapefile')

          City  Latitude  Longitude                     geometry
0     New York   40.7128   -74.0060   POINT (-74.00600 40.71280)
1  Los Angeles   34.0522  -118.2437  POINT (-118.24370 34.05220)
2      Chicago   41.8781   -87.6298   POINT (-87.62980 41.87810)

In [ ]:
filename = "escuelas_privadas.geojson"
file = open(filename)
df = gpd.read_file(file)

df

,nombre,nivel,turno,sstnmnt,domicil,ubicacn,colonia,alcaldi,geometry
0,CENDI PART SEDI LOMAS,INICIAL,MATUTINO,Particular,EXPLANADA NO. 305,"EXPLANADA NO. 305, LOMAS DE CHAPULTEPEC, MIGUE...",LOMAS DE CHAPULTEPEC,MIGUEL HIDALGO,POINT (-99.21115 19.42515)
1,ARMONIA INFANTIL,INICIAL,MATUTINO,Particular,AV. SINATEL No 38 MZ. 4 LT. 21,"AV. SINATEL No 38 MZ. 4 LT. 21, SINATEL AMPLIA...",SINATEL (AMPL),IZTAPALAPA,POINT (-99.13180 19.36483)
2,CENDI PART. COLEGIO DE LAS BALEARES,INICIAL,TIEMPO COMPLETO,Particular,JOSEFA ORTIZ DE DOMINGUEZ NO 2,"JOSEFA ORTIZ DE DOMINGUEZ NO 2, TIZAPAN, ALVAR...",TIZAPAN_TIZAPAN SAN ANGEL,ALVARO OBREGON,POINT (-99.20264 19.33517)
3,"CENDI PART COLEGIO CIBELES, S.C.",INICIAL,MATUTINO,Particular,RIO GRIJALVA NUM 27,"RIO GRIJALVA NUM 27, CUAUHTEMOC, CUAUHTEMOC",CUAUHTEMOC,CUAUHTEMOC,POINT (-99.17015 19.43364)
4,CENTRO DE DESARROLLO INFANTIL KINDERGARDEN,INICIAL,TIEMPO COMPLETO,Particular,CALLE 11 DE ENERO DE 1861 NO. 2114,"CALLE 11 DE ENERO DE 1861 NO. 2114, LEYES DE R...",LEYES DE REFORMA 3A SECCION I,IZTAPALAPA,POINT (-99.06610 19.38264)
...,...,...,...,...,...,...,...,...,...
3654,ARMONIA INFANTIL,Preescolar - Inicial *,MATUTINO,Particular,AV. SINATEL No 38 MZ. 4 LT. 21,"AV. SINATEL No 38 MZ. 4 LT. 21, SINATEL AMPLIA...",SINATEL (AMPL),IZTAPALAPA,POINT (-99.13180 19.36483)
3655,CENDI PART MI MUNDO FELIZ,Preescolar - Inicial *,MATUTINO,Particular,CALZADA DE TLALPAN NO. 3515,"CALZADA DE TLALPAN NO. 3515, ADOLFO RUIZ CORT...",VIEJO EJIDO SANTA URSULA COAPA,COYOACAN,POINT (-99.14144 19.30917)
3656,CENDI PART COLEGIO BILBAO S.C.,Preescolar - Inicial *,TIEMPO COMPLETO,Particular,NORTE 27 NO. 49,"NORTE 27 NO. 49, NUEVA VALLEJO, GUSTAVO A. MADERO",NUEVA VALLEJO,GUSTAVO A. MADERO,POINT (-99.15024 19.49310)
3657,CENDI PART ECOLOGICO DE DESARROLLO INFANTIL S.C.,Preescolar - Inicial *,TIEMPO COMPLETO,Particular,CALVARIO NUM 122,"CALVARIO NUM 122, TLALPAN, TLALPAN",TLALPAN CENTRO,TLALPAN,POINT (-99.17373 19.28834)
3658,MUNDO DE LOS PEQUES,Preescolar - Inicial *,TIEMPO COMPLETO,Particular,EDGAR ALLAN POE NUM 314,"EDGAR ALLAN POE NUM 314, POLANCO REFORMA, MIGU...",POLANCO REFORMA (POLANCO),MIGUEL HIDALGO,POINT (-99.19974 19.43653)

In [ ]:
df.plot()